<!DOCTYPE html>
<html lang="en" ng-app="teamApp">
<head>
  <meta charset="UTF-8">
  <title>Level 4.0 - Team Picker</title>

  <link rel="stylesheet" href="./css/site.css" />
</head>
<body ng-cloak>
  <div ng-controller="teamBuilderCtrl"class="team-builder">
    <h1>Create your team:</h1>

    <div class="control-group">
      <label for="teamName">Team Name: </label>
      <input type="text"
             id="teamName"
             name="teamName"
             ng-model="teamName" />
    </div>

    <div class="team-options">
      <select name="availablePlayers"
              id="availablePlayers"
              class="available players"
              multiple="multiple"
              ng-model="availablePlayers.highlighted"
              ng-options="player.name for player in availablePlayers.all">
      </select>
      
      <div class="selection-buttons button-group">
        <button class="select"
                ng-click="moveItemsToList(availablePlayers.all,
                                          availablePlayers.highlighted,
                                          chosenPlayers.all)">
          &rarr;
        </button>
        <button class="discard"
                ng-click="moveItemsToList(chosenPlayers.all,
                                          chosenPlayers.highlighted,
                                          availablePlayers.all)">
           &larr;
        </button>
      </div>

      <select name="chosenPlayers"
              id="chosenPlayers"
              class="chosen players"
              multiple="multiple"
              ng-model="chosenPlayers.highlighted"
              ng-options="player.name for player in chosenPlayers.all">
      </select>

      <div class="order-buttons button-group">
        <button class="move-top"
                ng-click="moveItemsTop(chosenPlayers.all,
                                       chosenPlayers.highlighted)">
          &uArr;
        </button>
        <button class="move-up"
                ng-click="moveItemsUp(chosenPlayers.all,
                                      chosenPlayers.highlighted)">
          &uarr;
        </button>
        <button class="move-down"
                ng-click="moveItemsDown(chosenPlayers.all,
                                        chosenPlayers.highlighted)">
          &darr;
        </button>
        <button class="move-bottom"
                ng-click="moveItemsBottom(chosenPlayers.all,
                                          chosenPlayers.highlighted)">
          &dArr;
        </button>
      </div>
    </div>
    <div class="createTeam">
      <button ng-click="createTeam(teamName,
                                   chosenPlayers.all)">Create</button>
    </div>

    <code class="well">
      <pre>{{teamJSON}}</pre>
    </code>
  </div>

  <script type="text/javascript" src="./lib/jquery/jquery-1.10.1.js"></script>
  <script type="text/javascript" src="./lib/angular.js"></script>
  <script type="text/javascript" src="./js/app.js"></script>
  <script type="text/javascript" src="./js/controllers/teamBuilderCtrl.js"></script>
  <script type="text/javascript" src="./js/services/teamData.js"></script>
</body>
</html>
